<div class="flex flex-col md:flex-row w-full max-w-4xl mx-auto shadow-lg rounded-lg overflow-hidden mt-44">
    <!-- Formulario de Registro -->
    <div class="w-full md:w-1/2 bg-gray-950 p-10">
        <h1 class="text-2xl font-bold text-white mb-4">Inicia Sesion</h1>
        <form action="">
            <div class="relative mb-4">
                <i class="fa-solid fa-user absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"></i>
                <input id="username" name="username" [(ngModel)]="username" type="text" maxlength="50" class="w-full pl-12 p-3 border border-gray-700 rounded-lg bg-gray-800 text-white placeholder-gray-400 focus:ring-2 focus:ring-violet-500 focus:outline-none" placeholder="Nombre de usuario">
            </div>
            <div class="relative mb-4">
                <i class="fa-solid fa-lock absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"></i>
                <input id="password" name="password" [(ngModel)]="password" type="password" class="w-full pl-12 p-3 border border-gray-700 rounded-lg bg-gray-800 text-white placeholder-gray-400 focus:ring-2 focus:ring-violet-500 focus:outline-none" placeholder="Contraseña">
            </div>
            <button (click)="login()" class="w-full bg-violet-700 text-white p-3 rounded-lg hover:bg-violet-600 transition duration-300">Entrar</button>
            <p class="text-center mt-4 text-gray-300">No tienes una cuenta todavia? <a href="register" class="text-violet-400 hover:underline">Registrate aquí</a></p>
        </form>
    </div>  
    
    <!-- Panel de Bienvenida -->
    <div class="w-full md:w-1/2 bg-gradient-to-r from-violet-700 to-violet-900 text-white flex flex-col items-center justify-center p-10 animate-fade-in">
        <h1 class="text-3xl font-bold mb-4">Bienvenido a ZEND!</h1>
        <p class="text-center">Ingresa a tu cuenta para continuar compartiendo tus ideas, aprendiendo y creciendo junto a otros miembros que comparten tus intereses.</p>
    </div>
</div>